<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vista de Admin</title>
        <link rel="stylesheet" href="static/admin-styles.css">
    </head>
    <body>
        <div class="admin-box">
            <img src="static/logo.png" class="avatar" alt="Avatar Image">
            <h1>Menú de Admin</h1>
            <input type="submit" value="Crear Usuario" onclick="">
            <input type="submit" value="Modificar Usuario" onclick="">
            <input type="submit" value="Resetear Usuario" onclick="">
            <input type="submit" value="Eliminar Usuario" onclick="">
            <input type="submit" value="Ver Gráficas" onclick="">
            <input type="submit" value="Cerrar Sesión" onclick="closeSession()">
        </div>

        <script>
            // Función para obtener la imagen desde la ruta protegida
            function fetchAdmin() {
                const token = localStorage.getItem("token");

                fetch("/verify_admin", {
                    headers: {
                        Authorization: `Bearer ${token}`,
                    },
                })
                .then((response) => {
                    if (!response.ok) {
                        window.location.href = "/";
                        throw new Error("Acceso denegado.");
                    }
                })
                .catch((error) => {
                    console.error(error);
                });
            }

            function closeSession(){
                localStorage.setItem("token", "");
                window.location.href = "/";
            }
            // Llamamos a la función para obtener la imagen al cargar la página
            fetchAdmin();
        </script>
    </body>
</html>