<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="static\styles.css">
  </head>
  <body>

    <div class="login-box">
      <img src="static\logo.png" class="avatar" alt="Avatar Image">
      <h1>Cambiar Contraseña</h1>
      <form action="", method="post">
        <!-- CONTRASEÑA ACTUAL -->
        <label for="password">Contraseña Actual</label>
        <input name="password" type="text" placeholder="Password">
        <!-- CONTRASEÑA NUEVA -->
        <label for="password">Contraseña Nueva</label>
        <input id="password" name="password" type="password" placeholder="Password">
        <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirmar Contraseña">
        <input type="submit" value="Cambiar Contraseña">
      </form>
    </div>

    <script>
      function changePassword(event) {
        event.preventDefault();
        const token = localStorage.getItem("token");
        const form = new FormData();
        const pwd = document.getElementById("password").value
        const confirm_pwd = document.getElementById("confirm_password").value
        if (pwd != confirm_pwd){
          const messageContainer = document.getElementById("message-container");
          messageContainer.innerText = "Las contraseñas no coinciden"
          messageContainer.style.display = "block";
          throw new Error("Las contraseñas no coinciden");
        }

        form.append("token", localStorage.getItem("token"));
        form.append("password", document.getElementById("password").value);
        form.append("confirm_password", document.getElementById("confirm_password").value);

        fetch("/change_password", {
          method: "POST",
          body: form,
          headers: {
              Authorization: `Bearer ${token}`,
          },
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Ocurrió un error");
            }
            return response.json();
          })
          .then((data) => {
            window.alert("Se cambió la contraseña")
            window.location.href = "/view1"
          })
          .catch((error) => {
            console.error(error);
          });
      }

      function fetchToken() {
        const token = localStorage.getItem("token")

        fetch("/verify_token", {
            headers: {
                Authorization: `Bearer ${token}`,
            },
        })
        .then((response) => {
            if (!response.ok) {
                window.location.href = "/";
                throw new Error("Acceso denegado.");
            }
        })
        .catch((error) => {
            console.error(error);
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
          const loginForm = document.getElementById("login-form");
          loginForm.addEventListener("submit", function (event) {
            login(event);
          });
        });

      fetchToken();
    </script>
  </body>
</html>

