<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="static\styles.css">
  </head>
  <body>

    <div class="login-box">
      <img src="static\logo.png" class="avatar" alt="Avatar Image">
      <h1>Cambiar Contraseña</h1>
      <form action="", method="post">
        <!-- CONTRASEÑA ACTUAL -->
        <label for="password">Contraseña Actual</label>
        <input name="password" type="text" placeholder="Password">
        <!-- CONTRASEÑA NUEVA -->
        <label for="password">Contraseña Nueva</label>
        <input name="password" type="password" placeholder="Password">
        <input name="confirm_password" type="password" placeholder="Confirmar Contraseña">
        <input type="submit" value="Cambiar Contraseña">
      </form>
    </div>
  </body>
</html>