<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tanques Loma Linda</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>

    <div class="login-box">
      <img src="static/logo.png" class="avatar" alt="Avatar Image">
      <h1>Iniciar Sesión</h1>
      <form id="login-form">
        <!-- Resto de los campos del formulario -->
        <!-- USERNAME INPUT -->
        <label for="username">Email</label>
        <input id="username" name="username" type="text" placeholder="usuario@induchem.com" required>
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password" required>
        <input type="submit" value="Log In">
      </form>
      <div id="message-container" style="display: none;">

      </div>

      <script>
        function login(event) {
          event.preventDefault();
          const form = new FormData();
          form.append("username", document.getElementById("username").value);
          form.append("password", document.getElementById("password").value);

          fetch("/login", {
            method: "POST",
            body: form,
          })
            .then((response) => {
              if (!response.ok) {
                const messageContainer = document.getElementById("message-container");
                messageContainer.innerText = "Usuario o clave inválidos"
                messageContainer.style.display = "block";
                throw new Error("Usuario o clave inválidos");
              }
              return response.json();
            })
            .then((data) => {
              localStorage.setItem("token", data.access_token);
              const token = localStorage.getItem("token")
              window.location.href = "/view2";
            })
            .catch((error) => {
              console.error(error);
            });
        }
        document.addEventListener("DOMContentLoaded", function () {
          const loginForm = document.getElementById("login-form");
          loginForm.addEventListener("submit", function (event) {
            login(event);
          });
        });
      </script>
    </div>

  </body>
</html>