<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tanques Loma Linda</title>
    <link rel="stylesheet" href="static\styles.css">
  </head>
  <body>

    <div class="login-box">
      <img src="static\logo.png" class="avatar" alt="Avatar Image">
      <h1>Iniciar Sesión</h1>
      <form onsubmit="login(event)">
        <!-- USERNAME INPUT -->
        <label for="username">Email</label>
        <input id="username" name="username" type="text" placeholder="usuario@induchem.com" required>
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password" required>
        <input type="submit" value="Log In">
      </form>

      <script>
        function login(event) {
            event.preventDefault();
            const form = new FormData();
            form.append("username", document.getElementById("username").value);
            form.append("password", document.getElementById("password").value);

            // Hacer una solicitud POST a la ruta de login
            fetch("/login", {
                method: "POST",
                body: form
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Credenciales inválidas. Vuelva a intentarlo.");
                }
                return response.json();
            })
            .then(data => {
                // Almacenar el token en localStorage o en una cookie
                localStorage.setItem("token", data.access_token);
                // Redireccionar o realizar otras acciones después de iniciar sesión
                fetchProtectedData(); // Aquí realizamos la solicitud a la ruta "/prueba" con el token de acceso
            })
            .catch(error => {
                // Manejar el error
                console.error(error);
            });
        }

        function fetchProtectedData() {
            const token = localStorage.getItem("token");
            fetch("/prueba", {
                headers: {
                    "Authorization": `Bearer ${token}`
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Acceso denegado. No estás autenticado.");
                }
                return response.json();
            })
            .then(data => {
                // Manejar los datos protegidos obtenidos de "/prueba"
                console.log(data);
            })
            .catch(error => {
                // Manejar el error
                console.error(error);
            });
        }
    </script>
    </div>
  </body>
</html>